.upload-file {

    &__edit {
        position: absolute;
        border-radius: 999px;
        bottom: 12px;
        right: 12px;
        outline: 6px solid hsl(var(--background));
        z-index: 50;
      }
  }

  .upload {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
  
    input[type="file"] {
      display: none;
    }
  
    &__area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-block: 24px;
      border: 2px dashed hsl(var(--border));
      @include adaptiveValue('gap', 12, 8);
      border-radius: 12px;
      height: 100%;
      cursor: pointer;
  
      transition: all 0.2s ease-in-out;
  
      &:hover {
        background-color: hsl(var(--muted));
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include caption();
      color: white;
    }
  
    &__icon {
      width: 36px;
      height: 36px;
      color: hsl(var(--primary));
    }
  
    &__body {
      @include body();
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
    }

    &__delete {
      display: flex;
      width: 100%;
      height: fit-content;
    }

    &__text {
        text-align: center;
    }
  
    &__additional {
        @include caption();
        color: hsl(var(--muted-foreground)); 
        text-align: center;
    }
  
    &__uploaded {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__segment {
      display: flex; 
      flex-direction: column;
      gap: 8px;
    }

    &__segment-header {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__segment-caption {
      @include caption();
    }

    @media screen and (max-width: 640px) {
        &__delete {
            justify-content: center;
        }
    }

    &__uploaded-files {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
      grid-template-rows: repeat(3, 1fr);
      overflow-y: auto;
      max-height: calc(100vh - 600px);
    }

    &__uploaded-files-empty {
      padding: 10px 16px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: hsl(var(--muted-foreground));
    }
  }
  
  .file {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    @include body();
  
    &__format {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background-color: hsl(var(--secondary));
      line-height: 0;
      font-size: 12px;
    }
  
    &__text {
      display: flex;
      flex-direction: column;
    }
  
    &__name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 264px;
    }
  
    &__main {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  
    &__size {
      color: hsl(var(--muted-foreground));
    }
  }