@import 'tailwind.css';

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: hsl(var(--background));
    overflow: hidden;
    max-height: 100vh;
}

[class*="Container"] {
    max-width: 1712px;
    margin: 0 auto;
    @include adaptiveValue('padding', 24, 16);
}