@function toRem($px, $current: 16) {
	$remValue:  calc($px / $current) + rem;
	@return $remValue;
}

@function toEm($px, $current: 16) {
	$result:  calc($px / $current) + em;
	@return $result;
}

@mixin adaptiveValue($property, $startSize, $minSize, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0) {
	$addSize: ($startSize - $minSize);
	@if ($widthFrom == $containerWidth and $maxWidthContainer == 0) {
		$widthFrom: $maxWidth;
	}
	@if ($minSize <= 0) {
		$minSize: 0.0001;
	}
	@if ($startSize <= 0) {
		$startSize: 0.0001;
	}

	$widthFromMedia: toEm($widthFrom);
	$widthToMedia: toEm($widthTo);

	/**
	* source: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
	*/
	$slope:  calc(($startSize - $minSize) / ($widthFrom - $widthTo));
	$yIntersection: -$widthTo * $slope + $minSize;
	$flyValue: #{toRem($yIntersection)}" + " #{($slope * 100)}vw;

	$propertyValue: #{"clamp(" toRem($minSize) "," $flyValue "," toRem($startSize) ")"};
	@if ($minSize > $startSize) {
		$propertyValue: #{"clamp(" toRem($startSize) "," $flyValue "," toRem($minSize) ")"};
	}

	@if $widthFrom == $containerWidth or $widthFrom == $maxWidth or $keepSize == 1 or $keepSize == 2 {
		@media (min-width: $widthFromMedia) {
			#{$property}: toRem($startSize);
		}
	}
	@media (min-width: $widthToMedia) and (max-width: $widthFromMedia) {
		@supports (#{$property}: $propertyValue) {
			#{$property}: $propertyValue;
		}
		@supports not (#{$property}: $propertyValue) {
			#{$property}: calc(
				#{toRem($minSize)} + #{$addSize} * (100vw - #{toRem($widthTo)}) / #{(calc($widthFrom / 16) -  calc($widthTo / 16))}
			);
		}
	}
	@if $widthTo == $minWidth or $keepSize == 1 or $keepSize == 3 {
		@media (max-width: $widthToMedia) {
			#{$property}: toRem($minSize);
		}
	}
}

@mixin subtitle(
	$font-weight: 500,
	$font-size: 22,
	$font-size-mobile: 16,
	$line-height: 29,
) {
	font-weight: $font-weight;
	@include adaptiveValue("font-size", $font-size, $font-size-mobile);
	@include adaptiveValue("line-height", $line-height, 19);
	color: hsl(var(--foreground));
}

@mixin title {
	font-weight: 500;
	color: var(--foreground);
	@include adaptiveValue("font-size", 32, 24, 700, 280, 1);
	@include adaptiveValue("line-height", 39, 29, 700, 280, 1);
}

@mixin body(
		$font-size: 16,
		$font-size-mobile: 12,
		$font-weight: 400,
		$line-height: 24
	) {
    font-weight: $font-weight;
	color: var(--foreground);
    @include adaptiveValue("font-size", $font-size, $font-size-mobile);
	@include adaptiveValue("line-height", $line-height, 20);
}